$extraSmall: "(max-width:490px)";
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";


$mainColor:#e8bf5d;
$primColor: #4a4a4a;
$customColor :#111;
$mainPadding: 50px;
$headMargin:60px 0 70px;
$mainFont: 'Playfair Display', sans-serif;
$openFont: 'Open Sans', sans-serif;